<ion-view view-title="{{ 'CATEGORIES_OF_PRODUCTS' | translate }}" id="catalogue">
	<ion-content>

		<div class="padding">

			<div class="row">

				<div class="col-25">
					<div class="card" ui-sref="main.items-list">
						<div class="item item-text-wrap">
							<img src="img/glass.png" alt="">
						</div> <!-- .item .item-text-wrap -->
						<div class="item item-text-wrap details">
							<p class="category-name">{{ 'CUTLERY' | translate }}</p>
						</div> <!-- .item -->
					</div> <!-- .card -->
				</div> <!-- .col-25 -->

				<div class="col-25">
					<div class="card" ui-sref="main.items-list">
						<div class="item item-text-wrap">
							<img src="img/glass.png" alt="">
						</div> <!-- .item .item-text-wrap -->
						<div class="item item-text-wrap details">
							<p class="category-name">{{ 'CUTLERY' | translate }}</p>
						</div> <!-- .item -->
					</div> <!-- .card -->
				</div> <!-- .col-25 -->

				<div class="col-25">
					<div class="card" ui-sref="main.items-list">
						<div class="item item-text-wrap">
							<img src="img/glass.png" alt="">
						</div> <!-- .item .item-text-wrap -->
						<div class="item item-text-wrap details">
							<p class="category-name">{{ 'CUTLERY' | translate }}</p>
						</div> <!-- .item -->
					</div> <!-- .card -->
				</div> <!-- .col-25 -->

				<div class="col-25">
					<div class="card" ui-sref="main.items-list">
						<div class="item item-text-wrap">
							<img src="img/glass.png" alt="">
						</div> <!-- .item .item-text-wrap -->
						<div class="item item-text-wrap details">
							<p class="category-name">{{ 'CUTLERY' | translate }}</p>
						</div> <!-- .item -->
					</div> <!-- .card -->
				</div> <!-- .col-25 -->

			</div> <!-- .row  -->



			<div class="row">

				<div class="col-25">
					<div class="card" ui-sref="main.items-list">
						<div class="item item-text-wrap">
							<img src="img/glass.png" alt="">
						</div> <!-- .item .item-text-wrap -->
						<div class="item item-text-wrap details">
							<p class="category-name">{{ 'CUTLERY' | translate }}</p>
						</div> <!-- .item -->
					</div> <!-- .card -->
				</div> <!-- .col-25 -->

				<div class="col-25">
					<div class="card" ui-sref="main.items-list">
						<div class="item item-text-wrap">
							<img src="img/glass.png" alt="">
						</div> <!-- .item .item-text-wrap -->
						<div class="item item-text-wrap details">
							<p class="category-name">{{ 'CUTLERY' | translate }}</p>
						</div> <!-- .item -->
					</div> <!-- .card -->
				</div> <!-- .col-25 -->

				<div class="col-25">
					<div class="card" ui-sref="main.items-list">
						<div class="item item-text-wrap">
							<img src="img/glass.png" alt="">
						</div> <!-- .item .item-text-wrap -->
						<div class="item item-text-wrap details">
							<p class="category-name">{{ 'CUTLERY' | translate }}</p>
						</div> <!-- .item -->
					</div> <!-- .card -->
				</div> <!-- .col-25 -->

				<div class="col-25">
					<div class="card" ui-sref="main.items-list">
						<div class="item item-text-wrap">
							<img src="img/glass.png" alt="">
						</div> <!-- .item .item-text-wrap -->
						<div class="item item-text-wrap details">
							<p class="category-name">{{ 'CUTLERY' | translate }}</p>
						</div> <!-- .item -->
					</div> <!-- .card -->
				</div> <!-- .col-25 -->

			</div> <!-- .row  -->



			<div class="row">

				<div class="col-25">
					<div class="card" ui-sref="main.items-list">
						<div class="item item-text-wrap">
							<img src="img/glass.png" alt="">
						</div> <!-- .item .item-text-wrap -->
						<div class="item item-text-wrap details">
							<p class="category-name">{{ 'CUTLERY' | translate }}</p>
						</div> <!-- .item -->
					</div> <!-- .card -->
				</div> <!-- .col-25 -->

				<div class="col-25">
					<div class="card" ui-sref="main.items-list">
						<div class="item item-text-wrap">
							<img src="img/glass.png" alt="">
						</div> <!-- .item .item-text-wrap -->
						<div class="item item-text-wrap details">
							<p class="category-name">{{ 'CUTLERY' | translate }}</p>
						</div> <!-- .item -->
					</div> <!-- .card -->
				</div> <!-- .col-25 -->

				<div class="col-25">
					<div class="card" ui-sref="main.items-list">
						<div class="item item-text-wrap">
							<img src="img/glass.png" alt="">
						</div> <!-- .item .item-text-wrap -->
						<div class="item item-text-wrap details">
							<p class="category-name">{{ 'CUTLERY' | translate }}</p>
						</div> <!-- .item -->
					</div> <!-- .card -->
				</div> <!-- .col-25 -->

				<div class="col-25">
					<div class="card" ui-sref="main.items-list">
						<div class="item item-text-wrap">
							<img src="img/glass.png" alt="">
						</div> <!-- .item .item-text-wrap -->
						<div class="item item-text-wrap details">
							<p class="category-name">{{ 'CUTLERY' | translate }}</p>
						</div> <!-- .item -->
					</div> <!-- .card -->
				</div> <!-- .col-25 -->

			</div> <!-- .row  -->



			<div class="row">

				<div class="col-25">
					<div class="card" ui-sref="main.items-list">
						<div class="item item-text-wrap">
							<img src="img/glass.png" alt="">
						</div> <!-- .item .item-text-wrap -->
						<div class="item item-text-wrap details">
							<p class="category-name">{{ 'CUTLERY' | translate }}</p>
						</div> <!-- .item -->
					</div> <!-- .card -->
				</div> <!-- .col-25 -->

				<div class="col-25">
					<div class="card" ui-sref="main.items-list">
						<div class="item item-text-wrap">
							<img src="img/glass.png" alt="">
						</div> <!-- .item .item-text-wrap -->
						<div class="item item-text-wrap details">
							<p class="category-name">{{ 'CUTLERY' | translate }}</p>
						</div> <!-- .item -->
					</div> <!-- .card -->
				</div> <!-- .col-25 -->

				<div class="col-25">
					<div class="card" ui-sref="main.items-list">
						<div class="item item-text-wrap">
							<img src="img/glass.png" alt="">
						</div> <!-- .item .item-text-wrap -->
						<div class="item item-text-wrap details">
							<p class="category-name">{{ 'CUTLERY' | translate }}</p>
						</div> <!-- .item -->
					</div> <!-- .card -->
				</div> <!-- .col-25 -->

				<div class="col-25">
					<div class="card" ui-sref="main.items-list">
						<div class="item item-text-wrap">
							<img src="img/glass.png" alt="">
						</div> <!-- .item .item-text-wrap -->
						<div class="item item-text-wrap details">
							<p class="category-name">{{ 'CUTLERY' | translate }}</p>
						</div> <!-- .item -->
					</div> <!-- .card -->
				</div> <!-- .col-25 -->

			</div> <!-- .row  -->



			<div class="row">

				<div class="col-25">
					<div class="card" ui-sref="main.items-list">
						<div class="item item-text-wrap">
							<img src="img/glass.png" alt="">
						</div> <!-- .item .item-text-wrap -->
						<div class="item item-text-wrap details">
							<p class="category-name">{{ 'CUTLERY' | translate }}</p>
						</div> <!-- .item -->
					</div> <!-- .card -->
				</div> <!-- .col-25 -->

				<div class="col-25">
					<div class="card" ui-sref="main.items-list">
						<div class="item item-text-wrap">
							<img src="img/glass.png" alt="">
						</div> <!-- .item .item-text-wrap -->
						<div class="item item-text-wrap details">
							<p class="category-name">{{ 'CUTLERY' | translate }}</p>
						</div> <!-- .item -->
					</div> <!-- .card -->
				</div> <!-- .col-25 -->

				<div class="col-25">
					<div class="card" ui-sref="main.items-list">
						<div class="item item-text-wrap">
							<img src="img/glass.png" alt="">
						</div> <!-- .item .item-text-wrap -->
						<div class="item item-text-wrap details">
							<p class="category-name">{{ 'CUTLERY' | translate }}</p>
						</div> <!-- .item -->
					</div> <!-- .card -->
				</div> <!-- .col-25 -->

				<div class="col-25">
					<div class="card" ui-sref="main.items-list">
						<div class="item item-text-wrap">
							<img src="img/glass.png" alt="">
						</div> <!-- .item .item-text-wrap -->
						<div class="item item-text-wrap details">
							<p class="category-name">{{ 'CUTLERY' | translate }}</p>
						</div> <!-- .item -->
					</div> <!-- .card -->
				</div> <!-- .col-25 -->

			</div> <!-- .row  -->



			<div class="row">

				<div class="col-25">
					<div class="card" ui-sref="main.items-list">
						<div class="item item-text-wrap">
							<img src="img/glass.png" alt="">
						</div> <!-- .item .item-text-wrap -->
						<div class="item item-text-wrap details">
							<p class="category-name">{{ 'CUTLERY' | translate }}</p>
						</div> <!-- .item -->
					</div> <!-- .card -->
				</div> <!-- .col-25 -->

				<div class="col-25">
					<div class="card" ui-sref="main.items-list">
						<div class="item item-text-wrap">
							<img src="img/glass.png" alt="">
						</div> <!-- .item .item-text-wrap -->
						<div class="item item-text-wrap details">
							<p class="category-name">{{ 'CUTLERY' | translate }}</p>
						</div> <!-- .item -->
					</div> <!-- .card -->
				</div> <!-- .col-25 -->

				<div class="col-25">
					<div class="card" ui-sref="main.items-list">
						<div class="item item-text-wrap">
							<img src="img/glass.png" alt="">
						</div> <!-- .item .item-text-wrap -->
						<div class="item item-text-wrap details">
							<p class="category-name">{{ 'CUTLERY' | translate }}</p>
						</div> <!-- .item -->
					</div> <!-- .card -->
				</div> <!-- .col-25 -->

				<div class="col-25">
					<div class="card" ui-sref="main.items-list">
						<div class="item item-text-wrap">
							<img src="img/glass.png" alt="">
						</div> <!-- .item .item-text-wrap -->
						<div class="item item-text-wrap details">
							<p class="category-name">{{ 'CUTLERY' | translate }}</p>
						</div> <!-- .item -->
					</div> <!-- .card -->
				</div> <!-- .col-25 -->

			</div> <!-- .row  -->

		</div> <!-- .padding -->

	</ion-content>
</ion-view>
